@using Orchard.ContentManagement;
@using Orchard.Security;
@{
    ContentItem contentItem = Model.ContentItem;
    var membership = WorkContext.Resolve<IMembershipService>();
}

<hr />
<div class="media">
    <div class="package-logo media-left">
        <a href="@Url.ItemDisplayUrl(contentItem)">
            <img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGY0ZDUxZjAzZiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjRkNTFmMDNmIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
        </a>
</div>
    <div class="media-body">
        <h3 class="media-heading">
            @Html.ItemDisplayLink(contentItem) 
            <a href="#" role="button" class="hidden-xs pull-right btn btn-default">@T("Download")</a>
        </h3>

        <p class="package-by">
            @{
                var owner = Model.ContentItem.Package.CommonPart.Owner;
            }

            @if(owner != null) {
                @T("By {0}", owner.User.DisplayName.Value)
            }
        </p>
        
        @Html.Raw(Model.ContentItem.Package.BodyPart.Text)

    </div>
</div>

